// footer {
//     position: fixed;
//     height: 100px;
//     bottom: 0;
//     width: 100%;
// }

.footer-59391 {
    border-top: 1px solid #efefef;
    background-color: #fff;
    padding: 4rem 0; }
    .footer-59391 .site-logo {
      color: #fff; }
      .footer-59391 .site-logo a {
        font-size: 30px;
        color: #000;
    }
    .footer-59391 .social-icons li {
      display: inline-block; }
      .footer-59391 .social-icons li a {
        display: inline-block;
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%; }
        .footer-59391 .social-icons li a.dr {
          background: #ff2e6e; }
        .footer-59391 .social-icons li a.be {
          background: #394cff; }
        .footer-59391 .social-icons li a.tw {
          background: #00a0fb; }
        .footer-59391 .social-icons li a.in {
          background: #c31574; }
        .footer-59391 .social-icons li a.fb {
          background: #3b579b; }
        .footer-59391 .social-icons li a.yt {
          background: #fa2614; }
        .footer-59391 .social-icons li a span {
          position: absolute;
          top: 50%;
          left: 50%;
          color: #fff; }
    .footer-59391 .nav-links li {
      display: inline-block; }
      .footer-59391 .nav-links li a {
        font-size: 14px;
        color: #777;
        padding: 10px; }
    @media (max-width: 1199.98px) {
      .footer-59391 .nav-links.nav-left li:first-child a {
        padding-left: 0; } }
    .footer-59391 .nav-links.nav-right li:last-child a {
      padding-right: 0; }
    @media (max-width: 1199.98px) {
      .footer-59391 .nav-links.nav-right li:first-child a {
        padding-left: 0; } }
    .footer-59391 .copyright {
      border-top: 1px solid #efefef;
      padding-top: 50px;
      text-align: center;
      color: #777; }
  