* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.userCardContainer {
  padding: 10px;
}

.userCard {
  border: black solid 1px;
  padding: 10px;
  position: relative;
  & ul {
    list-style: none;
  }
}

.userName {
  font-size: 30px;
}

.userImage {
  background-color: lightcoral;
  width: 100%;
  height: 100px;
}

.matchedIcon {
  width: 25px;
  height: 25px;
  position: relative;
  top: 5px;
  display: inline-block;
}

// custom boostrap classes

.btn-love {
  background-color: rgb(223, 77, 77);
  color: #fff;
}

.btn-pass {
  background-color: rgb(19, 139, 179);
  color: #fff;
}
