* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.userCardContainer {
  padding: 10px;
}

.userCard {
  border: black solid 1px;
  padding: 10px;
  ul {
    list-style: none;
  }
}

.userName {
  font-size: 30px;
}

.userImage {
  background-color: lightcoral;
  width: 100%;
}

.userDetails {
  background-color: rgb(252, 235, 203);
  margin: 0;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-content: space-around;
  font-weight: 500;
  li {
    // display: flex;
    width: 50%;
    flex-grow: 1;
    margin-top: 10px;
    font-size: 16px;
    // background-color: lightblue;
  }
  & :nth-child(even) {
    // background-color: lightcoral;
  }
  // & :nth-child(-n + 3) {
  //   // width: calc(100% / 3);
  //   // flex-grow: 3;
  //   background-color: green;
  // }

  // li:nth-of-type(-n + 3) {
  //   // background-color: green;
  //   min-width: calc(100% / 3);
  // }
}

.matchedIcon {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 2px;
}

// custom boostrap classes

.btn-love {
  background-color: rgb(223, 77, 77);
  color: #fff;
}

.btn-pass {
  background-color: rgb(19, 139, 179);
  color: #fff;
}
