.containerReg {
  display: flex;
  justify-content: center;
  background-color: #daeaf6;
  height: 100vh;
}

.formRow {
  padding: 8px 0px;
}

.submit {
  width: 40vw;
  display: block;
  margin: auto;
}

input {
  margin: 0px 10px;
  border-radius: 3px;
  box-sizing: border-box;
  border: 0;
  font-size: 13px;
}

input[type="password"] {
  width: 250px;
}

select {
  margin: 0px 5px;
}

.nextButton {
  float: right;
}

.backButton {
  float: left;
  display: block;
}

.registerButton {
  width: 30vw;
  display: block;
  margin: auto;
}

nav {
  margin-top: 5px;
}

h1 {
  text-align: center;
  /* background-color: paleturquoise; */
  margin-bottom: 15px;
}

.errorMessage {
  font-style: italic;
  font-size: 12px;
  font-weight: 500;
}
